@media screen and (max-width:1080px){
    html{
        font-size: 18px;
    }
}

@media screen and (max-width:992px){
/*HEADER */
    #headerTop #headerTopLogo{
        margin-right: 20px;
    }
    #headerTop #headerTopMenu nav ul{
        display: none;
        flex-direction: column;
        text-align: right;
        position: absolute;
        right: 0px;
        top: 60px;
    }
    #headerTop #headerTopMenu nav ul li{
        margin: 5px 0px;
    }
    #headerTop #headerTopMenu nav ul li a{
        font-size: 1.2rem;
    }
    #headerTop #headerTopMenu button{
        display: block;
    }
/*PROJECTS (2 cols) */
    #projects #projectsList .projectsListItem{
        flex: 0 0 50%;
    }
/*SKILLS (3 cols) */
    #skills #skillsList .skillsListItem{
        flex-basis: 33.3%;
        padding: 0px 10%;
    }
    #skills #skillsList .skillsSmallImages{
        padding: 0px 8%;
    }
/*ABOUT ME */
    #aboutMeContainer #aboutMeContainerImage{
        flex: 0 0 200px;
    }

/* CONTACT (2 cols)*/
    #contact{
        padding: 30px 10%;
    }
    #contact #contactMail{
        width: 100%;
    }
    #contact #contactGit{
        width: 100%;
        margin-top: 50px;
        padding: 0%;
    }
    #contact #contactGit img{
        width: 260px;
    }
    #contact #contactMail #contactMailSocials i{
        font-size: 2rem;
    }

    footer{
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 768px){
/* HEADER */
    #headerTop{
        padding: 10px 20px;
    }
/* PROJECTS (1 col)*/
    #projects #projectsList{
        padding: 0px 10%;
    }
    #projects #projectsList .projectsListItem{
        flex: 0 0 100%;
        padding: 0px;
        margin: 10px 0px;
    }
/* SKILLS (2 cols)*/
    #skills #skillsList{
        padding: 0px 5%;
    }
    #skills #skillsList .skillsListItem{
        flex-basis: 50%;
        padding: 0px 16%;
    }
    #skills #skillsList .skillsSmallImages{
        padding: 0px 14%;
    }

/* ABOUT ME (1 col) */
    #aboutMeContainer{
        flex-direction: column;
    }
    #aboutMeContainer #aboutMeContainerImage{
        width: 250px;
        margin: 0px auto;
        margin-bottom: 5%;
    }
    #aboutMeContainer p{
        text-align: center;
    }
    #aboutMe #aboutMeBgImage{
        width: 15%;
    }
}

@media screen and (max-width: 550px){
/* PROJECTS (1 col)*/
    #projects #projectsList{
    padding: 0px 5%;
    }
}

@media screen and (max-width: 425px){
/* HEADER */
    header{
        height: 400px;
    }
    #headerTop{
        padding: 10px 10px;
    }
    #headerTop #headerTopLogo img{
        display: none;
    }
/* SKILLS */
    #skills #skillsList .skillsListItem{
        padding: 0px 13%;
    }
    #skills #skillsList .skillsSmallImages{
        padding: 0px 11%;
    }
/* ABOUT ME */
    #aboutMe #aboutMeBgImage{
        display: none;
    }
    #aboutMeContainer #aboutMeContainerImage{
        width: 200px;
    }
/* EMAIL AND SOCIALS */
    #contactLeftMore{
        flex-wrap: wrap;
    }

    #contactLeftMore > div:nth-child(1) > p:nth-child(1){
        margin-bottom: 0px;
    }
    #contactLeftMore > div:nth-child(1) > p:nth-child(2){
        margin-top: 10px;
    }

}