@media screen and (max-width:1180px){
    #projects #projectsList .projectsListItem{
        flex: 0 0 50%;
    }

    #headerTop #headerTopMenu nav ul{
        display: none;
        flex-direction: column;
        text-align: right;
        position: absolute;
        right: 0px;
        top: 60px;
    }
    #headerTop #headerTopMenu nav ul li{
        margin: 5px 0px;
    }
    #headerTop #headerTopMenu button{
        display: block;
    }

    #skills #skillsList .skillsListItem{
        flex-basis: 33.3%;
        padding: 0px 10%;
    }
    #skills #skillsList .skillsSmallImages{
        padding: 0px 8%;
    }

}

@media screen and (max-width:950px)
{
    #aboutMeContainer{
        flex-direction: column;
    }
    #aboutMeContainer #aboutMeContainerImage{
        flex-direction: column;
        margin-right: 0px;
        margin-bottom: 5%;
    }
    #aboutMeContainer p{
        text-align: center;
    }
    #aboutMe #aboutMeBgImage{
        width: 15%;
    }

    #contact #contactMail{
        width: 100%;
    }
    #contact #contactGit{
        width: 100%;
        margin-top: 50px;
        padding: 0%;
    }
    #contact #contactGit img{
        width: 280px;
    }
    #contact #contactMail #contactMailSocials i{
        font-size: 48px;
    }
    footer{
        font-size: 18px;
    }
}

@media screen and (max-width: 680px)
{
    #projects{
        padding: 3%;
    }
    #projects #projectsList .projectsListItem{
        flex: 0 0 100%;
        padding: 0px;
        margin-bottom: 10px;
    }
    #headerTop{
        padding-left: 20px;
        padding-right: 20px;
    }
    #skills #skillsList .skillsListItem{
        flex-basis: 50%;
        padding: 0px 12%;
    }
    #skills #skillsList .skillsSmallImages{
        padding: 0px 10%;
    }
    #aboutMe #aboutMeBgImage{
        width: 20%;
    }
    
}

@media screen and (max-width: 425px){
    #skills #skillsList .skillsListItem{
        padding: 0px 8%;
    }
    #skills #skillsList .skillsSmallImages{
        padding: 0px 6%;
    }
    #aboutMe #aboutMeBgImage{
        display: none;
    }
}
@media screen and (max-width: 350px){
    #headerTop #headerTopLogo img{
        display: none;
    }
}