@font-face {
  font-family: 'Nirmala UI';
  src: url("../fonts/nirmala-ui.ttf"); }

.unclickable, #projectsList .projectsListItem h3, #projectsList .projectsListItem p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.cleaner {
  clear: both; }

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Nirmala UI';
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #FFF; }

ul {
  list-style-type: none; }

header {
  width: 100%;
  height: 600px;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#headerTop {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff; }
  #headerTopLogo {
    display: flex;
    align-items: center; }
    #headerTopLogo img {
      height: 40px;
      display: inline-block; }
    #headerTopLogo h1 {
      display: inline;
      letter-spacing: 1px;
      font-weight: normal;
      margin-left: 15px; }
      #headerTopLogo h1 span {
        text-transform: uppercase;
        font-weight: bold; }
  #headerTopMenu ul {
    display: flex; }
    #headerTopMenu ul li {
      margin: 0px 10px; }
      #headerTopMenu ul li a {
        font-size: 22px; }
        #headerTopMenu ul li a:hover {
          text-decoration: underline;
          color: #ADDF40; }
  #headerTopMenu button {
    display: none;
    background-color: transparent;
    border: none;
    color: #ADDF40;
    font-size: 48px;
    padding: 0px 7px; }

#projects {
  width: 100%;
  text-align: center;
  padding: 0px 20px;
  margin-top: 30px; }
  #projects h2 {
    font-size: 48px;
    color: #1C1C1C; }
  #projectsList {
    width: 100%;
    margin-top: 20px; }
    #projectsList .projectsListItem {
      float: left;
      width: 33.3%;
      padding: 1%; }
      #projectsList .projectsListItem a:hover img {
        transform: scale(1.02); }
      #projectsList .projectsListItem img {
        transition: transform 0.1s;
        max-width: 100%;
        border-radius: 3px;
        box-shadow: 2px 2px 5px #000; }
      #projectsList .projectsListItem h3, #projectsList .projectsListItem p {
        font-size: 28px; }
      #projectsList .projectsListItem p {
        font-size: 24px; }
